Flask>=0.10.1
Flask-RESTful==0.3.5
Jinja2==2.7.3
PyYAML==3.11
argparse==1.2.1
certifi==2016.9.26
configparser==3.3.0r2
elasticsearch>=2.1.0
json2html==1.0.1
lazy-object-proxy==1.2.1
lxml==3.5.0
python-dateutil==1.5
requests>=2.8.1
urllib3>=1.11
urllib3[secure]
utils
